@import 'src/scss/colors';

:host {
  box-shadow: 0 3px 6px $black-alpha-1;
  padding: 24px 0 23px 0;
  display: block;
  text-align: center;
  background-color: $white;
}

p {
  margin: 0;
  color: $dim-gray;
  font: Regular 14px/18px Montserrat;
}
