@import 'src/scss/colors';

:host {
  box-shadow: 0 3px 6px $black-alpha-1;
  padding: 2.5em 0;
  border-radius: 5px;
  cursor: pointer;
  width: 255px;
  display: block;
  text-align: center;
}

a {
  font: Bold 26px/32px Montserrat;
  color: $gainsboro;

  &:hover {
    color: $dim-gray;
  }
}
