<div class="header-container">
  <h6>
    <ng-container *ngIf="selectedCategory">Chuck Norris {{ selectedCategory }} jokes</ng-container>
    <ng-container *ngIf="!selectedCategory">Random Chuck Norris jokes</ng-container>
  </h6>
</div>
<div class="joke-content-container">
  <p>{{ (joke$ | async)?.value }}</p>
</div>

<div class="button-container">
  <app-button (click)="loadNextJoke()">Next Joke</app-button>
</div>

<svg [class.loading-gradient]="jokeLoading$ | async" class="overlay">
  <rect class="overlay-content" rx="5" ry="5" x="0" y="0" width="868" height="757"></rect>
</svg>
