$white-smoke: #ebebeb;
$vulcan: #3a3b3e;
$grey: #808080;
$rock-blue: #8a93b1;
$charcoal: #4a4a4a;
$black-alpha-1: #00000029;
$white: #ffffff;
$gainsboro: #e6e6e6;
$dim-gray: #707070;
$black: #000000;
